nav {
   min-height: 100px;
}

.navbar-brand {
   margin-right: 50px;
   font-size: 30px;
}

.nav-item {
   margin-right: 50px;
   font-size: 20px;
}

#header-search-bar {
   max-width: 70%;
   box-sizing: border-box;
   font-size: 16px;
   background-image: url('./images/search-glass1.png');
   background-position: left; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
}

#login {
   margin-left: auto;
   max-width: 60px;
}

@media (max-width: 768px) {
   #login {
      margin-left: 0px;
      margin-right: auto;
   }
}