.jumbotron {
   margin-bottom: 0px;
   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url('./public/images/banner1.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: white;
}

.jumbotron h1 {
   font-size: 6em;
}

nav {
   min-height: 100px;
}

.navbar-brand {
   margin-right: 50px;
   font-size: 30px;
}

.nav-item {
   margin-right: 50px;
   font-size: 20px;
}

#search-bar {
   max-width: 100%;
   box-sizing: border-box;
   font-size: 16px;
   background-image: url('./public/images/search-glass1.png');
   background-position: left;
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
}

.login-form {
   background-color: white;
   color: black;
   border-radius: 20px;
}

.close:focus {
   outline: none;
   box-shadow: none;
}

.add-button {
   position: absolute;
   top: 0;
   right: 0;
}

.dash-card {
   border: 1px solid green;
   border-radius: 15px;
   margin: 0 3px;
}

.fav-img {
   max-height: 300px;
   max-width: 150px;
}

.btn-div {
   height: 30px;
   width: 100%;
   margin: 0;
   padding: 0;
   margin-bottom: 10px;
}

.remove-btn {
   position: absolute;
   top: 1%;
   right: 5%;
}

.home > .row > .col-md-3 {
   display: inline-block;
   float: none;
}

.home > .row > .col-md-3 > a > h3 {
   display: unset;
   white-space: normal;
   font-size: 1.2rem;
}

.home > .row {
   overflow-x: auto;
   white-space: nowrap;
   flex-wrap: nowrap;
}

.dash > .row > .col-md-3 {
   display: inline-block;
   float: none;
}

.dash > .row > .col-md-3 > div > a > p {
   white-space: normal;
}

.dash > .row {
   overflow-x: auto;
   white-space: nowrap;
   flex-wrap: nowrap;
}

@media (max-width: 768px) {
   .jumbotron {
      background-image: url('./public/images/banner_sm1.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
   }

   .anime-img {
      max-width: 300px;
      max-height: 480px;
   }
}
