.jumbotron {
   margin-bottom: 0px;
   background-image: linear-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0.2)), url('./public/images/banner1.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
}


.jumbotron h1 {
   font-size: 6em;
}

nav {
   min-height: 100px;
}

.navbar-brand {
   margin-right: 50px;
   font-size: 30px;
}

.nav-item {
   margin-right: 50px;
   font-size: 20px;
}

#anime-search-bar {
   max-width: 100%;
   box-sizing: border-box;
   font-size: 16px;
   background-image: url('./public/images/search-glass1.png');
   background-position: left; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
}

#login {
   margin-left: auto;
   max-width: 60px;
}

@media (max-width: 768px) {
   #login {
      margin-left: 0px;
      margin-right: auto;
   }

   .jumbotron {
      background-image: url('./public/images/banner_sm1.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
   }

   .anime-img {
      max-width: 300px;
      max-height: 480px;
   }
}