.jumbotron {
   margin-bottom: 0px;
   background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('./public/images/banner1.jpg');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   color: white;
}


.jumbotron h1 {
   font-size: 6em;
}

nav {
   min-height: 100px;
}

.navbar-brand {
   margin-right: 50px;
   font-size: 30px;
}

.nav-item {
   margin-right: 50px;
   font-size: 20px;
}

#search-bar {
   max-width: 100%;
   box-sizing: border-box;
   font-size: 16px;
   background-image: url('./public/images/search-glass1.png');
   background-position: left; 
   background-repeat: no-repeat;
   padding: 12px 20px 12px 40px;
}

.login-form {
   background-color: white;
   color: black;
   border-radius: 20px;
}

.close:focus {
   outline: none;
   box-shadow: none;
}

.add-button {
   position: absolute;
   top: 0;
   right: 0;
}

.fav-img {
   max-height: 300px;
   max-width: 150px;
}

@media (max-width: 768px) {

   .jumbotron {
      background-image: url('./public/images/banner_sm1.jpg');
      background-repeat: no-repeat;
      background-size: 100% 100%;
   }

   .anime-img {
      max-width: 300px;
      max-height: 480px;
   }
}